---
import Index from "../components/Index.svelte";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Calculator Visualization - Free Online Calculators for Finance, Math, Fitness, Health, Unit Conversion, Currency Conversion, Converter, Rupee to USD"
>

<div class="card">
    <div class="card-body">
        <p>Preparing your favourite Calculators.</p>
        <p>Until Then Use below Calculators</p>
    </div>
</div>


<Index />

  
</Layout>
