---
import Layout from '../layouts/Layout.astro';



---

<Layout title="Calculator Visualization - Free Online Calculators for Finance, Math, Fitness, Health, Unit Conversion, Currency Conversion, Converter, Rupee to USD">

<div class="row">
      <div class="col-md-4">
        <div class="card" >
                
                <div class="card-body">
                      <h2 class="card-title text-uppercase underline"><u>Investment Calculators</u>  </h2>
                      
                      <h4><a href="/finance/investment-calculator">Investment Calculator</a>  <span class="badge bg-pink-lt">UPCOMING</span></h4>
                      <h4><a href="/finance/fixed-deposit-calculator">Fixed Deposit(FD) Calculator</a> </h4>
                      <h4><a href="/finance/recurring-deposit-calculator">Recurring Deposit(RD) Calculator</a></h4>
                      <h4><a href="/finance/nps-calculator">National Pension System(NPS) Calculator</a>  <span class="badge bg-pink-lt">UPCOMING</span></h4>
                      <h4><a href="/finance/interest-calculator">Interest Calculator</a>  <span class="badge bg-pink-lt">UPCOMING</span></h4>
                      <h4><a href="/finance/payment-calculator">Payment Calculator</a>  <span class="badge bg-pink-lt">UPCOMING</span></h4>
                      <h4><a href="/finance/retirement-calculator">Retirement Calculator</a>  <span class="badge bg-pink-lt">UPCOMING</span></h4>
                      
                      <h4><a href="/finance/sip-calculator">Systematic Investment Plan(SIP) Calculator</a></h4>
                      <h4><a href="/finance/stepup-calculator">Step Up SIP Calculator</a></h4>
                      <h4><a href="/finance/stepup-calculator">Systematic Withdrawal Plan (SWP) Calculator</a></h4>
                      <div class="hr-text hr-text-center">
                        <span></span>
                      </div>
                      <h2 class="card-title text-uppercase"><u>Loan/Amortization Calculators</u>  </h2>
                      
                      <h4><a href="/finance/loan-calculator">Loan Calculator <span class="badge bg-pink-lt">UPCOMING</span></a></h4>
                      <h4><a href="/finance/home-loan-calculator">Home Loan Calculator</a></h4>
                      <h4><a href="/finance/personal-loan-calculator">Personal Loan Calculator</a></h4>
                      <h4><a href="/finance/compound-interest-calculator">Compound Interest Calculator</a></h4>
                      <h4><a href="/finance/salary-calculator">Salary Calculator <span class="badge bg-pink-lt">UPCOMING</span></a></h4>
                      <h4><a href="/finance/mortgage-calculator">Mortgage Calculator</a> <span class="badge bg-pink-lt">UPCOMING</span></h4>
                      <h4><a href="/finance/auto-loan-calculator">Auto Loan Calculator</a>  <span class="badge bg-pink-lt">UPCOMING</span></h4>
                      <h4><a href="/finance/amortization-calculator">Amortization Calculator</a>  <span class="badge bg-pink-lt">UPCOMING</span></h4>
                    
                  
                  
                    
                      
                  
                  

                  
                  
                </div>
                
        </div>
      
      </div>
      <div class="col-md-4">
        <div class="card" >
                
                <div class="card-body">
                    <h2 class="card-title text-uppercase">Health </h2>
                      <h4><a href="/health/bmi-calculator">Body Mass Index(BMI) Calculator</a> </h4>
                      <h4><a href="/health/body-fat-calculator">Body Fat Calculator</a></h4>
                      <h4><a href="/health/ideal-weight-calculator">Ideal Weight Calculator</a></h4>
                      <h4><a href="/health/pace-calculator">PACE Calculator</a></h4>
                      <h4><a href="/health/army-body-fat-calculator">Army Body Fat Calculator</a></h4>
                      <h4><a href="/health/calorie-calculator">Calorie Calculator</a></h4>
                      <h4><a href="/health/healthy-weight-calculator">Healthy Weight Calculator</a></h4>
                      <h4><a href="/health/calories-burned-calculator">Calories Burned Calculator</a></h4>
                      
                    
                </div>
        </div>
      
      </div>
      <div class="col-md-4">
        <div class="card" >
                <div class="card-header">
                  <h3 class="card-title text-uppercase">Unit Conversion </h3>
                </div>
                <div class="card-body">
                  
                  
                  
                    
                      
                  
                  

                  
                  
                </div>
                
        </div>
      
      </div>
      
      

    

</div>

</Layout>
